@model ProyectoReportes.Controllers.DescargaPDFController;

@{
    Layout = null;
}



<div>
    <h1>Descarga Archivos</h1>
    <a class="btn btn-primary" asp-controller="DescargaPDF" asp-action="MostrarPDFenPagina" target="_blank">Ver PDF en pagina</a>
    <a class="btn btn-primary" asp-controller="DescargaPDF" asp-action="DescargarPDF">Descargar PDF</a>
</div>

